
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

 body
 {
   margin: 0;
   height: 100%;
	 width: 100%;
   padding: 0;
   cursor: pointer;
   margin-bottom: 1rem;
   background: #000;
   font-family: 'Open Sans', sans-serif;
   color: #cdcdcd;
 }

 #menuToggle
 {
   display: block;
   position: relative;
   left:1rem;
   top:2rem;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }

 #menuToggle a
 {
   text-decoration: none;
   color: #fcfcfc;
   transition: color 0.3s ease;
 }

 #menuToggle a:hover
 {
   color: rgb(255, 0, 0);
 }

 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0;
   z-index: 2;
   -webkit-touch-callout: none;
 }

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #ffffff;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }

 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }

 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #ffffff;
 }

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu
 {
   position: absolute;
   width: 100vw;
   min-height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   left:2rem;
   padding-top: 125px;
   background: #000000;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }

 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 .name{
     font-size: 3rem;
     margin-top: 1rem;
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     background: -webkit-linear-gradient(rgb(207, 107, 40), rgb(204, 187, 38));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;
     margin-bottom: 1rem;
 }

 .name:hover{
  background: -webkit-linear-gradient(rgb(255, 89, 89), #32f1ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;
 }

 .about-me{
    font-size: 1.5rem;
    letter-spacing: normal;
    margin-bottom:80px;
    color: #ffffff;
 }

 .header{
    padding: top 0;rem;
 }

 nav{
     margin-bottom: 6rem;
 }

 .socialmedia{
   display: inline-block;
   max-width: 9%;
   margin-top:1rem;
   margin-right: 1rem;
 }

 .profile-pic{
  max-width: 75%;
  border-radius: 3rem;
  text-align: left;
  margin-left: 4rem;
}

 .header{
   margin-bottom:5rem;
 }