@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #0d0d0d;
}

html::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5rem;
}

body {
  background: #0a0a0a;
  padding-bottom: 6.5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: crimson;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: crimson;
  padding: .7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: crimson;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 2rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #1a1a1a;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.navbar a i {
  color: crimson;
  padding-right: .5rem;
}

.navbar a:hover {
  background: crimson;
  padding-bottom: 6rem;
}

.navbar a:hover i {
  color: #fff;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .image img {
  height: 50rem;
  width: 50rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h3 {
  color: #fff;
  font-size: 4rem;
  padding-bottom: .5rem;
}

.home .content span {
  font-size: 3rem;
  color: crimson;
  padding: .5rem 0;
  display: block;
}

.home .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .info-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .info-container h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.about .row .info-container .box-container {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .info-container .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.about .row .info-container .box-container .box h3 {
  font-size: 1.7rem;
  color: #fff;
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info-container .box-container .box h3 span {
  color: #aaa;
  font-weight: lighter;
}

.about .row .count-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .count-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 3rem 4rem;
  border-radius: .5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          border-radius: 20px;
}

.about .row .count-container .box:hover {
  background: rgb(44, 44, 44);
}

.about .row .count-container .box:hover h3 {
  color: rgb(255, 0, 0);
}

.about .row .count-container .box h3 {
  font-size: 5rem;
  color: crimson;
}

.about .row .count-container .box p {
  font-size: 2rem;
  color: #aaa;
}

.skills .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.skills .box-container .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  background: #1a1a1a;
  border-radius: 20px;
}

.skills .box-container .box:hover {
  background: #fff;
}

.skills .box-container .box:hover h3 {
  color: #0d0d0d;
}

.skills .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.skills .box-container .box h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase;
}

.education .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.education .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.5rem;
  padding-bottom: 3rem;
  border-left: 0.1rem solid #aaa;
  position: relative;
}

.education .box-container .box i {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  background: crimson;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -1rem;
  left: -2.5rem;
}

.education .box-container .box span {
  font-size: 1.7rem;
  color: #fff;
  border-radius: 5rem;
  padding: .5rem 1.5rem;
  background: #1a1a1a;
}

.education .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #fff;
  padding-top: 3rem;
  font-weight: normal;
}

.education .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}

.portfolio {
  text-align: center;
}

.portfolio .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.portfolio .box-container .box {
  height: 30rem;
  overflow: hidden;
  position: relative;
  border-radius: 18px;
}

.portfolio .box-container .box:hover .content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     border-radius: 18px;
}

.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 18px;
}

.portfolio .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.portfolio .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.portfolio .box-container .box .content a {
  font-size: 2rem;
  color: crimson;
}

.portfolio .box-container .box .content a:hover {
  color: #fff;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          border-radius: 20px;          
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 20px;
}

.blogs .box-container .box .content .icons {
  position: relative;
  top: -1rem;
  border-radius: .5rem;
  padding: 1.5rem;
  display: inline-block;
  background: #0d0d0d;
}

.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: #fff;
}

.blogs .box-container .box .content .icons a:hover {
  color: crimson;
}

.blogs .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: crimson;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .info-container {
  width: 40rem;
}

.contact .row .info-container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 1rem;
}

.contact .row .info-container p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.contact .row .info-container .box-container {
  padding: 2rem 0;
}

.contact .row .info-container .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.contact .row .info-container .box-container .box i {
  font-size: 3rem;
  color: crimson;
}

.contact .row .info-container .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.contact .row .info-container .share a {
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  margin-right: .3rem;
}

.contact .row .info-container .share a:hover {
  background: crimson;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  border-radius: 5rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  color: #fff;
  text-transform: none;
  margin: .7rem 0;
  background: #1a1a1a;
}

.contact .row form textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  height: 25rem;
}

.contact .row form .btn {
  padding: 1rem 3rem;
  cursor: pointer;
}

.contact .row form .btn:hover {
  background: #fff;
  color: #0d0d0d;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  .home {
    text-align: center;
    gap: 2rem;
  }
  .home .image img {
    height: 30rem;
    width: 30rem;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* Circle Preloader for (other pages except .index.html) */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #0a0a0a;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid crimson;
  border-top-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading Preloader for (index.html) */

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 420px;
  border: 0px;
  height: 3px;
  overflow: hidden;
  background:white;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: crimson;
}

.pace.pace-inactive {
  display: none;
}

#preloaderx{
  width:100%;
  height:100vh;
  background:#0a0a0a;
  overflow:hidden;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.px {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-weight: 540;
}
