

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$font-family-sans-serif-2: 'Poppins', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;



body {
	font-family: $font-family-sans-serif;
	background-color: #3c373e;
  font-weight: 300;
}
p {
	color: rgba($white, .5);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}
.content {
	padding: 7rem 0;
}
h2 {
	font-size: 20px;
  color: $white;
}


.custom-table {
	min-width: 900px;
	thead {

		tr, th {
      padding-bottom: 30px;
			border-top: none;
			border-bottom: none!important;
      color: $white;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .2rem;
		}
	}
	tbody {
		th, td {
			color: #777;
			font-weight: 400;
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 300;
      border: none;
      transition: .3s all ease;
      small {
        color: rgba($white, .3);
        font-weight: 300;
      }
      a {
        color: rgba($white, .3);
      }
      .more{
        color: rgba($white, .3);
        font-size: 11px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .2rem;
      }
		}
    tr {
      transition: .3s all ease;
      &:hover, &:focus {
        td {
          color: $white;
          a {
            color: #fdd114;
          }
          .more{
            color: #fdd114;
          }
        }
      }
    }
	}
  .td-box-wrap {
    padding: 0;
  }
  .box {
    background: $white;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    td, th {
      border: none!important;
    }
  }

}

