<IfModule mod_rewrite.c> # mod_rewrite starts here
RewriteEngine on
# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule!
RewriteCond %{REQUEST_FILENAME} !-d
# check for file in directory with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f
# Here we actually show the page that has the .html extension
RewriteRule ^(.*)$ $1.html [NC,L]
# 404 error if no .html extension
ErrorDocument 404 /404.html
# Remove the .html extension from the URL and show the page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /html/(.*).html\ HTTP/
RewriteRule .* https://karthiklal.live/html/%1 [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /html/(.*)\ HTTP/
RewriteRule .* %1.html [L]
RewriteRule ^(.*)\.html$ $1 [L]
# If we type / on the URL, show the index.html page
RewriteRule ^$ /index.html [L]
# If we type /routine on the URL, show the routine.html page
RewriteRule ^routine$ /routine.html [L]
</IfModule> # mod_rewrite ends here