html {
	margin-right: 0 !important;
}


body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Poppins";
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	background: #0c0c0c;
	letter-spacing: 0;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.clear {
	clear: both;
}


/* - Preloader */
.preloader {
	position: fixed;
	width: 100%;
	height: 0;
	z-index: 999;
}

.preloader .box-1, .preloader .box-2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #ffbe37;
}

.preloader .box-2 {
	background: rgb(12, 12, 12);
}

.preloader .spinner {
	margin: -40px 0 0 -5px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 80px;
}

.preloader .spinner .lines {
	position: absolute;
	width: 10px;
	height: 80px;
}

.preloader .spinner .lines:before, .preloader .spinner .lines:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 80px;
	background: #fff;
	clip: rect(0, 0, 20px, 0);
	-webkit-clip: rect(0, 0, 20px, 0);
}

.preloader .spinner .lines:before {
	left: 0;
	animation: loading 2s cubic-bezier(0.165, 0.85, 0.45, 1) 0s infinite;
}

.preloader .spinner .lines:after {
	left: 15px;
	background: #ffbe37;
	animation: loading 2s cubic-bezier(0.165, 0.85, 0.45, 1) 0.5s infinite;
}


/* - Container */
.container {
	margin: 0;
	position: relative;
	overflow: hidden;
}


.wrapper {
	position: relative;
	margin-top: 50px;
	margin-left: 45%;
	margin-right: 92px;
}


.wrapper:before {
	content: '';
	position: fixed;
	left: 45%;
	right: 92px;
	top: 0;
	height: 40px;
	background: #0c0c0c;
	z-index: 13;
}


@media (max-width: 1199px) {
	.wrapper {
		position: relative;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}


	.wrapper:before {
		display: none;
	}

}

/* - Columns */
.cols {
	margin: 0 -20px;
	position: relative;
}

.cols .col {
	margin-bottom: 30px;
	padding: 0 20px;
	float: left;
	width: 50%;
}

.cols .col.col-full {
	width: 100%;
}


@media (max-width: 720px) {
	.cols .col {
		width: 100%;
	}

}

.cols:after {
	content: '';
	display: block;
	clear: both;
}


.cols .col.col-sm {
	width: 25%;
}


@media (max-width: 720px) {
	.cols .col.col-sm {
		width: 100%;
	}

}

.cols .col.col-lg {
	width: 75%;
}


@media (max-width: 720px) {
	.cols .col.col-lg {
		width: 100%;
	}

}

.single-post-text > *:first-child {
	margin-top: 0;
}

.single-post-text > *:last-child {
	margin-bottom: 0;
}


/* - Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: "Poppins";
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #141414;
}


h1 {
	font-size: 34px;
}


h2 {
	font-size: 30px;
}


h3 {
	font-size: 26px;
}


h4 {
	font-size: 22px;
}


h5 {
	font-size: 18px;
}


h6 {
	font-size: 12px;
}


p {
	font-size: 14px;
	padding: 0;
	margin: 30px 0;
}


strong {
	font-weight: 700;
}


@media screen and (max-width: 720px) {
	h1 {
		font-size: 24px;
	}


	h2 {
		font-size: 20px;
	}


	h3 {
		font-size: 18px;
	}


	h4 {
		font-size: 14px;
	}


	h5 {
		font-size: 12px;
	}


	h6 {
		font-size: 13px;
	}


	p {
		margin: 20px 0;
	}

}

/* - Links */
a {
	color: #FFF;
	text-decoration: underline;
	outline: none;
}


a:hover {
	text-decoration: none;
	color: #ffbe37;
}


/* - Buttons */
.animated-button {
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
}

.animated-button span {
	position: relative;
	overflow: hidden;
	display: block;
	text-shadow: 0 16px 0 #141414;
}

.animated-button span em {
	min-width: 5px;
	display: inline-block;
	vertical-align: middle;
	font-style: normal;
	backface-visibility: hidden;
	transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
}

.animated-button span em:nth-child(1) {
	transition-delay: 0.025s;
}

.animated-button span em:nth-child(2) {
	transition-delay: 0.05s;
}

.animated-button span em:nth-child(3) {
	transition-delay: 0.075s;
}

.animated-button span em:nth-child(4) {
	transition-delay: 0.1s;
}

.animated-button span em:nth-child(5) {
	transition-delay: 0.125s;
}

.animated-button span em:nth-child(6) {
	transition-delay: 0.15s;
}

.animated-button span em:nth-child(7) {
	transition-delay: 0.175s;
}

.animated-button span em:nth-child(8) {
	transition-delay: 0.2s;
}

.animated-button span em:nth-child(9) {
	transition-delay: 0.225s;
}

.animated-button span em:nth-child(10) {
	transition-delay: 0.25s;
}

.animated-button span em:nth-child(11) {
	transition-delay: 0.275s;
}


a.btn,
.btn,
.single-post-text input[type="submit"],
button {
	padding: 0 35px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	height: 64px;
	line-height: 62px;
	text-align: center;
	font-size: 12px;
	color: #FFF;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	background: #ffbe37;
	border: 1.50px solid #ffffff;
	cursor: pointer;
	border-radius: 64px;
	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;
	-khtml-border-radius: 64px;
	transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-moz-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-webkit-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-o-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

a.btn:hover,
.btn:hover,
.single-post-text input[type="submit"]:hover,
button:hover {
	border-color: #fff;
}

a.btn:hover .animated-button em,
.btn:hover .animated-button em,
.single-post-text input[type="submit"]:hover .animated-button em,
button:hover .animated-button em {
	transform: translateY(calc(16px * -1));
}

a.btn:hover .icon,
.btn:hover .icon,
.single-post-text input[type="submit"]:hover .icon,
button:hover .icon {
	color: rgb(12, 12, 12);
	transform: translateX(6px);
	-webkit-transform: translateX(6px);
	-moz-transform: translateX(6px);
	-o-transform: translateX(6px);
}

a.btn .icon,
.btn .icon,
button .icon {
	margin-left: 10px;
	transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-moz-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-webkit-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-o-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}


/* - Forms */
input,
textarea {
	padding: 0 30px;
	display: block;
	font-family: "Poppins";
	font-size: 14px;
	height: 64px;
	width: 100%;
	color: #FFF;
	background: none !important;
	border: 1px solid #585d65;
	resize: none;
	outline: 0;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}


input:focus,
textarea:focus,
button:focus {
	color: #FFF;
}


textarea {
	height: 170px;
	padding-top: 30px;
	padding-bottom: 30px;
	resize: none;
}


label,
legend {
	display: block;
	padding-bottom: 10px;
	font-family: "Poppins";
	font-size: 13px;
}


fieldset {
	border-width: 0;
	padding: 0;
}


input[type="checkbox"],
input[type="radio"] {
	display: inline;
}


::-webkit-input-placeholder {
	color: #7a7f88;
}


:-moz-placeholder {
	color: #7a7f88;
}


::-moz-placeholder {
	color: #7a7f88;
}


:-ms-input-placeholder {
	color: #7a7f88;
}


input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: #FFF;
}


input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: #FFF;
}


input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: #FFF;
}


input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: #FFF;
}


input.error,
textarea.error,
input.wpcf7-not-valid,
textarea.wpcf7-not-valid {
	border-bottom: 1px solid red !important;
}


label.error,
.wpcf7-not-valid-tip {
	display: none !important;
}


input.error::-moz-placeholder,
textarea.error::-moz-placeholder,
input.wpcf7-not-valid::-moz-placeholder,
textarea.wpcf7-not-valid::-moz-placeholder {
	color: red;
}


input.error:-moz-placeholder,
textarea.error:-moz-placeholder,
input.wpcf7-not-valid:-moz-placeholder,
textarea.wpcf7-not-valid:-moz-placeholder {
	color: red;
}


input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder,
input.wpcf7-not-valid:-ms-input-placeholder,
textarea.wpcf7-not-valid:-ms-input-placeholder {
	color: red;
}


input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder,
input.wpcf7-not-valid::-webkit-input-placeholder,
textarea.wpcf7-not-valid::-webkit-input-placeholder {
	color: red;
}


div.wpcf7-response-output {
	margin: 0;
}


input[type="checkbox"],
input[type="radio"] {
	display: inline;
}


input[type="checkbox"], input[type="radio"] {
	width: auto;
	height: auto;
	margin-bottom: 10px;
	margin-right: 0;
	margin-left: 0;
}


input[type="checkbox"] {
	-webkit-appearance: checkbox;
}


input[type="radio"] {
	-webkit-appearance: radio;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"],
textarea,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


input[type="file"] {
	margin-bottom: 10px;
	border: none;
	height: auto;
}


select {
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
}


span.wpcf7-list-item {
	display: inline-block;
	margin: 0 1em 0 0;
}


/* - Lists */
ul {
	list-style: disc;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	list-style-position: inside;
}


ol {
	list-style: decimal;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	list-style-position: inside;
}


ul ul, ol ol, ul ol, ol ul {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}


/* - Code */
code {
	font-family: "Poppins";
	padding: 0 4px;
	font-style: italic;
	color: #999;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	overflow: auto;
	max-width: 100%;
	white-space: nowrap;
}


pre {
	background: #f6f6f6;
	font-family: "Poppins";
	margin: 30px 0;
	padding: 30px;
	max-width: 100%;
	overflow: auto;
	white-space: pre;
}


mark, ins {
	background: #eee;
	text-decoration: none;
}


/* - Tables */
table {
	width: 100%;
	margin: 30px 0;
	padding: 0;
	border-collapse: collapse;
	background: #fcfcfc;
}


table caption {
	padding: 6px 0;
	background: #f6f6f6;
	font-size: 11px;
}


th {
	color: #999;
	padding: 10px 20px;
	font-size: 11px;
	font-weight: 700;
	text-align: left;
	border: 4px solid #FFF;
	text-transform: uppercase;
}


th a {
	color: #999;
}


td {
	border: 4px solid #FFF;
	padding: 10px 20px;
	color: #363636;
	font-size: 13px;
	background: #f6f6f6;
}


td.pad {
	background: none;
}


dt {
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 700;
}


dd {
	margin-top: 0;
	margin-bottom: 30px;
	margin-left: 30px;
}


/* - Alignment */
.align-center {
	text-align: center !important;
}


.align-right {
	text-align: right !important;
}


.align-left {
	text-align: left !important;
}


.pull-right {
	float: right !important;
}


.pull-left {
	float: left !important;
}


.pull-none {
	float: none !important;
}


.alignright {
	margin-left: 20px !important;
	float: right !important;
	max-width: 50% !important;
}


.alignleft {
	margin-right: 20px !important;
	float: left !important;
	max-width: 50% !important;
}


.aligncenter {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}


.full-width {
	max-width: 100% !important;
	width: 100% !important;
}


.full-max-width {
	max-width: 100% !important;
	width: auto !important;
}


.centrize {
	display: table !important;
	table-layout: fixed !important;
	height: 100% !important;
	position: relative !important;
	top: 0;
	left: 0;
	z-index: 2;
}


.vertical-center {
	display: table-cell !important;
	vertical-align: middle !important;
}


/* - Text Formating */
.text-uppercase {
	text-transform: uppercase !important;
}


.text-lowercase {
	text-transform: lowercase !important;
}


.text-capitalize {
	text-transform: capitalize !important;
}


.text-regular {
	font-weight: 400 !important;
}


.text-bold {
	font-weight: 700 !important;
}


.text-italic {
	font-style: italic !important;
}


/* - Blockquote */
blockquote {
	font-family: "Poppins";
}


/* - Animations */
/* preloader */
@keyframes loading {
	0% {
		clip: rect(0, 80px, 0, 0);
		-webkit-clip: rect(0, 80px, 0, 0);
	}

	30% {
		clip: rect(20px, 80px, 0, 0);
		-webkit-clip: rect(20px, 80px, 0, 0);
	}

	50% {
		clip: rect(20px, 80px, 0, 0);
		-webkit-clip: rect(20px, 80px, 0, 0);
	}

	80% {
		clip: rect(20px, 20px, 80px, 0);
		-webkit-clip: rect(20px, 20px, 80px, 0);
	}

	100% {
		clip: rect(80px, 20px, 80px, 0);
		-webkit-clip: rect(80px, 20px, 80px, 0);
	}

}

/* Mouse Button Animations */
@keyframes mouse-anim {
	0% {
		top: -5px;
	}

	50% {
		top: 5px;
	}

	100% {
		top: -5px;
	}

}

