/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/05/2020 02:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
}
[class^="flaticon-"] {
  line-height: 1em;
}
.flaticon-focus:before {
  content: "\f100";
}
.flaticon-career:before {
  content: "\f101";
}
.flaticon-career-1:before {
  content: "\f102";
}
.flaticon-rate:before {
  content: "\f103";
}
.flaticon-code:before {
  content: "\f104";
}
.flaticon-laptop:before {
  content: "\f105";
}
.flaticon-win:before {
  content: "\f106";
}
.flaticon-plane:before {
  content: "\f107";
}
.flaticon-multimedia:before {
  content: "\f108";
}
.flaticon-left:before {
  content: "\f109";
}
.flaticon-right:before {
  content: "\f10a";
}
.flaticon-logout:before {
  content: "\f10b";
}
.flaticon-trophy:before {
  content: "\f10c";
}
.flaticon-pie-chart:before {
  content: "\f10d";
}
.flaticon-goal:before {
  content: "\f10e";
}
.flaticon-economic:before {
  content: "\f10f";
}
.flaticon-portfolio:before {
  content: "\f110";
}
.flaticon-agenda-1:before {
  content: "\f111";
}
.flaticon-agenda:before {
  content: "\f112";
}
.flaticon-add-to-cart:before {
  content: "\f113";
}
.flaticon-supermarket:before {
  content: "\f114";
}
.flaticon-worldwide:before {
  content: "\f115";
}
.flaticon-bookmark:before {
  content: "\f116";
}
.flaticon-security:before {
  content: "\f117";
}
.flaticon-development:before {
  content: "\f118";
}
.flaticon-screen:before {
  content: "\f119";
}
.flaticon-bullseye:before {
  content: "\f11a";
}
.flaticon-promotion:before {
  content: "\f11b";
}
.flaticon-economy:before {
  content: "\f11c";
}
.flaticon-development-1:before {
  content: "\f11d";
}
.flaticon-heart:before {
  content: "\f11e";
}
.flaticon-coding:before {
  content: "\f11f";
}
.flaticon-viral-marketing:before {
  content: "\f120";
}
.flaticon-sketch:before {
  content: "\f121";
}
.flaticon-skyline:before {
  content: "\f122";
}
.flaticon-employee:before {
  content: "\f123";
}
.flaticon-fork:before {
  content: "\f124";
}
.flaticon-doctor:before {
  content: "\f125";
}
.flaticon-work:before {
  content: "\f126";
}
.flaticon-growth:before {
  content: "\f127";
}
.flaticon-design:before {
  content: "\f128";
}
.flaticon-feature:before {
  content: "\f129";
}
.flaticon-recycle-sign:before {
  content: "\f12a";
}
.flaticon-balance:before {
  content: "\f12b";
}
